---
---
$header-color: {{ site.headercolor }};

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  color: $header-color;
}

hr.small {
  border-color: $header-color;
}

.nav.navbar-nav.navbar-right li a {
  color: rgb(0, 0, 0);
}

.navbar-brand{
  color:rgb(0, 0, 0) !important;
}

.subheading{
  font-weight: 700 !important;
}

.center-rafa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

